server:
  port: 8761

spring:
  application:
    name: eurekaservice

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
  instance.prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info