server:
  port: 8081

spring:
  application:
    name: authservice
  config:
    import: optional:configserver:http://localhost:8888
  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info


logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.web: DEBUG
    org.springframework.security.authentication: DEBUG
    org.springframework.security.web.access: TRACE
    org.springframework.security.web.authentication: TRACE

